<h2> Cadastro de nomes </h2>
<hr/>
<form #registroNewForm="ngForm" >
  <div class="form-group row">
    <div *ngIf="messageShow.length>0" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Nome já cadastrado.</strong>
    </div>
    <div *ngIf="alertSalvoComSucesso" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Nome cadastrado.</strong>
    </div>
    <label class="col-sm-1  col-form-label">Name:</label>
    <div class="col-sm-5">
      <input [(ngModel)]="registro.nome" required name="nome" #registroNome="ngModel" [ngClass]="{'is-invalid': registroNome.invalid}" class="form-control">
      <div class="invalid-feedback">
        Nome é obrigatório
      </div>
    </div>
  </div>
  <button [disabled]="registroNewForm.invalid"   (click)="newNome()" class="btn btn-primary mr-2">Salvar</button>
</form>
